// Place all the styles related to the website controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.my-btn{
  margin-top: 16px !important;
}


.container{
  background-color: white;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.left-column{
 background: #F7971E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  height: 100%;
  transform: translateX(-26%) skew(-16deg);
  -webkit-box-shadow: 4px 1px 10px 0px rgba(50, 50, 50, 0.35);
-moz-box-shadow:    4px 1px 10px 0px rgba(50, 50, 50, 0.35);
box-shadow:         4px 1px 10px 0px rgba(50, 50, 50, 0.35);


  .left-container{
    transform: translateX(18%) skew(16deg);
    padding: 32px;


    .header{
      display: block;
      margin: 32px 26%;
      font-size: 24px;
      font-size: 500;
      width: 100%;;
      color: white;
    }
  }

}

.title{
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.right-column{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}