<div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        <img class="logo" src="https://camo.githubusercontent.com/3678742df28fc397823d8b14c8194b6358832c72/68747470733a2f2f63646e2e6f6d6973652e636f2f6173736574732f74616d626f6f6e2e6a7067">
        Tamboom
      </a>
      <% link_to "HOME", root_path, class:"item"%>
    </div>
  </div>